@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

img{
    width: 200px;
    border-radius: 50%;
}

p, h1{
    color: white;
    margin: 10px;
}

p{
    margin-bottom: 2rem;
    
}

a{  

    text-decoration: none;
    font-size: 2.3rem;
    margin: 1rem;
    box-sizing: border-box; 
}



button{
  margin-top: 1rem;
  margin-bottom: 20px;
  padding: 1rem;
  padding-right: 4rem;
  padding-left: 4rem;
  background-color: rgb(18, 18, 190);
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.349);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}

button:hover{
    color: rgb(216, 214, 214);
    background-color: rgb(16, 16, 138);
}



body{
    background-color: rgb(22, 28, 107);
    

}

.coiteine-main{
    position: relative;
    height: 100vh;    
}

.coiteine-section{
    
    backdrop-filter: blur(10px);
    background: linear-gradient(to bottom, rgba(252, 250, 250, 0.034), rgba(255, 255, 255, 0.418));
    padding: 30px;
    width: 450px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.ri-facebook-fill{

    background-color: blue;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-out;  
    
}

.ri-facebook-fill:hover{
    padding:1px;
    
    box-shadow: 0 0 10px #00f, 0 0 15px #00f, 0 0 40px #01f;
    
}

.ri-twitter-x-line{
    background-color: black;
    color: white;
    padding: 2px;
    border-radius: 50%;
    transition: 0.3s ease;

}

.ri-twitter-x-line:hover{
    color: black;
    padding: 2px;
    background-color: white;
    box-shadow: 0 0 10px #ffff, 0 0 15px #ffff, 0 0 40px hsl(0, 2%, 90%);
    
}

.ri-youtube-fill{
    background-color:red;
    color: white;
    border-radius: 10px;
    transition: 0.3s ease;
}

.ri-youtube-fill:hover{
    padding: 2px;
    border-radius:40% ;
    box-shadow: 0 0 10px red, 0 0 15px red, 0 0 40px rgba(228, 1, 1, 0.993);
}

.ri-instagram-line{
    background-image: linear-gradient(to bottom,rgb(87, 15, 121),rgb(223, 104, 124),yellow);
    color: white;
    border-radius: 35%;
    transition: 0.3s ease;
}

.ri-instagram-line:hover{
    padding: 2px;
    box-shadow: 0 0 10px rgb(87, 15, 121), 0 0 15px #df687c, 0 0 40px yellow;
}

.ri-github-fill{
    background-color:white;
    color: black;
    border-radius: 50%;
    transition: 0.3s ease;

}

.ri-github-fill:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px #2b2a2a, 0 0 15px #0f0f0f, 0 0 40px hsl(0, 1%, 35%);
}

.coiteiner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.icone{
    width:80px;
    height: 80px;
    background-image: url(imagens/148841.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: anima 5s linear infinite;
    animation-duration: calc(300s / var(--i));

}

@keyframes anima{
    0%{
        transform: translateY(100vh) scale(0) rotate(0deg);
    }

    100%{
        transform: translateY(-10vh) scale(1) rotate(360deg);
    }
}